.main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.winnersBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamPhoto {
    width: 40vw;
}

.categoryBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

