.Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    width: 100%;
    min-height: 80px;
    background-color: #373434;
    color: #ffffff;
}

.LinkBox{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.Link {
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 0px 2vw;
}

.Link:hover {
    text-decoration: underline;
    color: #f8c754
}

.SignUpBox {
    display: flex;
    margin-right: 5px;
    text-decoration: underline;
}

.Logo {
    width: 260px;
    height: 80px;
}